@import '../../common/styles/constants.scss';
@import '../../common/styles/inner-page-layout.scss';

#article-page {
  @include inner-page-layout;

  img {
    width: 100%;
  }

  article {
    .meta {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eee;
      padding: 0.5rem;

      .text {
        padding: 0 5px;
        display: flex;
        align-items: center;

        .icon {
          margin-right: 10px;
        }

        .divider {
          align-self: stretch;
          margin: 0 5px;
          background-color: currentColor;
          width: 1px;
        }
      }
    }

    .content {
      margin-top: 2rem;
    }
  }

  aside.categories {
    background-color: #fff;
    padding: 0.5rem;

    ul {
      list-style: none;

      li {
        font-size: 1.2rem;
        padding: 0.5rem 0;

        &:not(:last-child) {
          border-bottom: 1px dashed #ccc;
        }

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

#article-not-found-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    padding: 4rem;
    background-color: #fff;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
  }
}
