@import '../../common/styles/constants.scss';

#main-header {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 1rem 0;
  z-index: 10;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 3rem;
    }

    h1 {
      font-family: 'Lato', sans-serif;
      color: #000;
      font-size: 2rem;
      margin: 0;
      margin-left: 0.2em;

      span {
        color: $color-primary;
      }
    }
  }

  .centering-container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
  }

  a {
    color: $color-dark;
    text-decoration: none;
  }

  .social {
    justify-self: center;

    a {
      color: #777;

      &:hover {
        color: #555;
      }
    }
  }

  nav {
    justify-self: end;
    ul {
      list-style: none;
      margin: 0;
      display: flex;

      li a {
        font-weight: bold;
        padding: 0.75rem;

        &.current {
          color: #fff;
          background-color: $color-primary;
        }

        &:hover {
          color: $color-dark;
          background-color: $color-light;
        }
      }
    }
  }
}
